/*TI.2019 - Projeto "5 BANDAS POP/ROCK"*/
/*FOLHA DE ESTILOS*/
/*superclasses*/
body {
    background-color: #ffe5b4;
}

h1{
    font: Bold 32px Arial;
}
h2{
    font: Bold 25px Arial;
    margin-bottom: 7px;
}
h3{
    font: Bold 20px Arial;
}

p{
    font: 14px Arial;
}


/*subclasses*/
.figrIntrod {
    width: 750px;
}

.imgLogoBandas {
    width: 150px;
    margin: 13px;
    cursor: pointer;
    border: 2px solid transparent;
}

.imgLogoBandas:hover {
    border: 2px solid #c00040;
}

.imgMusicoBanner {
    width: 300px;
}

.imgMusicoLateral {
    width: 150px;
    margin: 13px 0px 0px 0px;
    cursor: pointer;
    border: 2px solid transparent;
}

.imgMusicoLateral:hover {
    border: 2px solid #c00040;
}

.linkBanda {
    color: #464c5c;
    text-decoration: none;
    font: bold italic 14px Verdana;
}

.logoBanda {
    width: 180px;
    position: relative;
    top: 210px;
}

.logoIPT {
    width: 180px;
    bottom: 0px;
    position: absolute;
}

.nomeMusicoLateral {
    margin-top: 0px;
}

/*instâncias*/
#base {
    width: 960px;
    margin: 0px auto;
}

#areaEscola {
    width: 180px;
    height: 300px;
    float: left;
    position: relative;
}

#areaPrincipal {
    width: 600px;
    display: inline-block;
    line-height: 0px;
}

#areaDireita {
    width: 180px;
    height: 300px;
    float: right;
    position: relative;
}

#introd {
    width: 750px;
    margin-left: 30px;
    float: left;
}

#logoBandas {
    width: 180px;
    float: left;
}

#linksBandas {
    width: 130px;
    float: left;
    text-align: right;
    padding: 4px 0px 0px 0px;
}

#areaCentral {
    width: 445px;
    float: left;
    padding: 0px 10px 0px 10px;
}

#membrosBanda {
    width: 180px;
    float: left;
    text-align: center;
}




